{% extends 'base.html.twig' %}

{% block title %}Plant App{% endblock %}

{% block body %}

<div id="app">
{# table for testing, remove when React is ready #}
{# <table>
    <tr>
        <th>Id</th> 
        <th>Name</th>      
        <th>Image</th>  
        <th>Watering</th>   
        <th>Conditions</th>   
        <th>Difficulty</th>   
        <th>Pet friendly</th>   
    </tr>
     {% for plant in plants %}
    <tr>
    <td>{{plant.id}}</td>
    <td>{{plant.name}}</td>
    <td><img src="{{plant.img}}"></td>
    <td>{{plant.water}}</td>    
    <td>{{plant.conditions}}</td>    
    <td>{{plant.difficulty}}</td>    
    <td>{{plant.pets}}</td>    
    </tr>
    {% endfor %}
</table> #}
{# {{app.user.email}} #}
{{app.user? 'logout' : 'login'}}

</div>

{% endblock %}